/* just override what you need */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #42b983,
    ),
  )
);
// --el-menu-hover-bg-color
// @forward 'element-plus/theme-chalk/src/dark/var.scss' with (
//   $bg-color: (
//     'page': #0a0a0a,
//     // '': #626aef,
//     'overlay': #1d1e1f,
//   )
// );

// If you just import on demand, you can ignore the following content.
// 如果你想导入所有样式:
// @use "element-plus/theme-chalk/src/index.scss" as *;